<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shubham demo Website</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Shubham.in</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Courses offered
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Computer Science</a></li>
                <li><a class="dropdown-item" href="#">Information Technology</a></li>
                <li><a class="dropdown-item" href="#">Bhagvad Geeta Teachings</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </nav>
</form>
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Well done!</h4>
      <h5 class="mb-0">Welcome to Shubham's Website</h5>
      <hr>
      <p>You can perform below operation here!!!</p>
    </div>
    <div class="container">      
      <form action="/analyze" method="post"> {% csrf_token %} <!-- CSRF token for post method otherwise it will give error-->
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Enter your text here:</label>
        <textarea class="form-control" name="text" id="exampleFormControlTextarea1" rows="5"></textarea>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" name="removepunc" type="checkbox" role="switch" id="flexSwitchCheckDefault1">
        <label class="form-check-label" for="flexSwitchCheckDefault1">Remove Punctuations</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" name="capitalize" type="checkbox" role="switch" id="flexSwitchCheckDefault2">
        <label class="form-check-label" for="flexSwitchCheckDefault2">Capitalize Text</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" name="newline" type="checkbox" role="switch" id="flexSwitchCheckDefault3">
        <label class="form-check-label" for="flexSwitchCheckDefault3">New Line Remover</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" name="space" type="checkbox" role="switch" id="flexSwitchCheckDefault4">
        <label class="form-check-label" for="flexSwitchCheckDefault4">Extra Space Remover</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" name="count" type="checkbox" role="switch" id="flexSwitchCheckDefault5">
        <label class="form-check-label" for="flexSwitchCheckDefault5">Character Counter (single click)</label>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-success mt-2 col-sm-2" style="margin: 6rem;">Analyze Text</button>
</form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>